.header-text {
  color: #eeeeee; }

#wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/header.jpg");
  text-align: center;
  color: white;
  overflow: auto; }

#wrapper2 {
  background-color: #f05f40;
  padding: 1em 0 2.3em; }

#wrapper3 {
  background-color: white;
  margin: 2em 0; }

#wrapper4 {
  background-color: #222;
  padding: 1em 0; }

.footer-text {
  color: #ffffff; }

h4, h5, h6, p {
  font-family: Roboto, sans-serf; }

.learn-more-btn {
  background-color: #f05f40;
  border-radius: 20px;
  margin: 10px 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Roboto, sans-serf;
  font-weight: 300; }

#headerHr {
  position: relative;
  height: 3px;
  border: 0;
  border-top: 3px solid #f05f40;
  margin: 30px auto;
  padding: 0;
  width: 30px;
  text-align: center; }

/*Aligns the collapsed navbar button to the right*/
#navbar-collapsed-button {
  float: right; }

/*Testing to make the navbar see-through*/
/*#navtest {*/
/*background: none;*/
/*border-bottom: solid 1px snow;*/
/*}*/
.nav-see-through {
  background: none;
  border-bottom: solid 1px #eee;
  transition: all 0.5s ease; }

.nav-orange {
  background: white;
  transition: all 0.5s ease;
  border-bottom: solid 1px #eee; }
  .nav-orange .navbar-brand {
    color: #f05f40; }
  .nav-orange .navbar-brand:focus, .nav-orange .navbar-brand:hover {
    color: #f04c2d; }

@media (max-width: 543px) {
  .filler {
    padding: 30px; } }
@media (min-width: 544px) {
  .filler {
    padding: 35px; } }
@media (min-width: 768px) {
  .filler {
    padding: 40px; } }
@media (min-width: 992px) {
  .filler {
    padding: 45px; } }
@media (min-width: 1200px) {
  .filler {
    padding: 50px; } }
.card-container {
  z-index: -1;
  margin: 0.5rem; }

.card-frame {
  transform-style: preserve-3d;
  transition: all 0.75s linear; }

.card-container:hover .card-frame {
  transform: rotateY(180deg); }

.card-front {
  position: relative;
  transform: rotateY(0deg);
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  z-index: 2; }

.card-back {
  z-index: 1;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*box-sizing: border-box;*/
  transform: rotateY(0deg);
  transform: rotateY(180deg);
  backface-visibility: hidden; }

.card-frame .card-front .card {
  margin-bottom: 0px;
  background-color: whitesmoke; }

.card-frame .card-back .card {
  margin-bottom: 0px;
  height: 100%; }

.titles {
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, sans-serf; }

.card-img-space {
  margin-top: 0.5rem; }

.btn-custom {
  background-color: #f05f40;
  color: #ffffff;
  font-family: Roboto, sans-serf; }

.btn-custom:focus, .learn-more-btn:focus {
  outline: 0 !important; }

.btn-custom:hover, .learn-more-btn:hover {
  background-color: #f04c2d; }

#footer-title {
  margin-top: 1em; }

.overflow-fix {
  height: auto !important; }

/*# sourceMappingURL=styles.css.map */
