h4, h5, h6, p {
  font-family: Roboto, sans-serf; }

.titles, .footer-title {
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, sans-serf; }

.customHr {
  position: relative;
  height: 3px;
  border: 0;
  border-top: 3px solid #f05f40;
  margin: 30px auto;
  padding: 0;
  width: 30px;
  text-align: center; }

#wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/header.jpg");
  text-align: center;
  color: #ffffff; }
  @media (max-width: 543px) {
    #wrapper {
      height: auto;
      padding: 8em 0; } }
  @media (min-width: 544px) {
    #wrapper {
      padding-top: 15vh; } }
  #wrapper img {
    max-height: 30vh; }

#wrapper2 {
  background-color: #222;
  padding: 1em 0 2.3em; }

#wrapper3 {
  background-color: #ffffff;
  padding: 2em 0; }
  #wrapper3 .container-fluid {
    margin: 0;
    padding: 0; }

#wrapper4 {
  background-color: #ffffff;
  padding: 1em 0; }

.view-projects-btn {
  background-color: #f05f40;
  border-radius: 20px;
  margin: 10px 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Tahoma;
  font-weight: bold;
  font-size: smaller; }

.navbar-toggler {
  color: #ffffff; }

.navbar-toggler:focus {
  outline: none; }

@media (max-width: 543px) {
  .navbar-toggleable-xs {
    clear: both; }

  .navbar-toggleable-xs .navbar-nav {
    float: none !important; }

  .navbar-toggleable-xs .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }

  .navbar-toggleable-xs .navbar-nav .nav-item {
    float: none; } }
#navbar-collapsed-button {
  outline: 0; }

.nav-see-through {
  background: none !important;
  border-bottom: solid 1px #ffffff;
  transition: all 0.5s ease; }

.nav-orange {
  background: white !important;
  transition: all 0.5s ease;
  border-bottom: solid 1px #eeeeee; }
  .nav-orange .navbar-toggler {
    color: #f05f40; }
  .nav-orange .navbar-toggler:hover {
    color: #f04c2d; }
  .nav-orange .navbar-brand {
    color: #f05f40; }
  .nav-orange .navbar-brand:focus, .nav-orange .navbar-brand:hover {
    color: #f04c2d; }
  .nav-orange #collapsingNav .nav .nav-item .nav-link {
    color: #f05f40;
    opacity: 0.5; }
  .nav-orange #collapsingNav .nav .nav-item .nav-link:hover {
    color: #f04c2d;
    opacity: 0.8; }
  .nav-orange #collapsingNav .nav .nav-item .active {
    color: #f04c2d !important;
    opacity: 1; }

nav {
  text-align: left; }

.card-frame .card-front .card img {
  border: 1.5px solid #f04c2d; }

.card-container {
  z-index: -1;
  margin: 0.5rem; }

.card-frame {
  transform-style: preserve-3d;
  transition: all 0.75s linear; }

.card-container:hover .card-frame {
  transform: rotateY(180deg); }

.card-front {
  position: relative;
  transform: rotateY(0deg);
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  z-index: 2; }

.card-back {
  z-index: 1;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*box-sizing: border-box;*/
  transform: rotateY(0deg);
  transform: rotateY(180deg);
  backface-visibility: hidden; }

.card-frame .card-front .card {
  margin-bottom: 0px;
  background-color: #eee;
  text-align: center; }

.card-frame .card-back .card {
  margin-bottom: 0px;
  height: 100%;
  text-align: center; }

.card-img-space {
  margin-top: 0.5rem; }

.card-button {
  background-color: #f05f40;
  color: #ffffff;
  font-family: Roboto, sans-serf; }

.card-button:focus, .view-projects-btn:focus {
  outline: 0 !important; }

.card-button:hover, .view-projects-btn:hover {
  background-color: #f04c2d; }

.footer-title {
  color: #222222; }

.footer-text, .footer-paragraph {
  color: #222222; }

.footer-paragraph {
  text-align: center;
  padding-bottom: 1em; }

/*# sourceMappingURL=styles.css.map */
